body {
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  align-items: center;
  max-width: fit-content;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}


p {
  text-align: center;
}