#num {
  font-size: 50px;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.btn-container button {
  font-size: 3em;
  transition: transform 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-container button:active {
  transform: scale(0.97);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}