h1 {
  text-align: center;
  font-size: 7em;
  margin-top: 10rem;
  margin-bottom: 0;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 15px;     
  padding: 20px; 
}

button {
  padding: 20px 40px;   
  font-size: 20px;      
  font-weight: 600;     
  border: 3px solid #333;
  border-radius: 12px;
  cursor: pointer;
  min-height: 70px;     
  transition: all 0.2s; 
  background-color: rgba(0, 0, 255, 0.719);
}

button:hover {
  background-color: #5f42f3;
}

button:active {  
  background-color: rgb(240, 248, 255);
  transform: scale(0.98);      
  border-color: #555;         
}