.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 1em;
  width: fit-content;
  margin: auto; 
}

input[type="text"] {
  width: 200px;
  padding: 4px;
}

p {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 10em;
}